body {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}

h1, 
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

/*  =============== Portfolio Section =================== */

/* .website-img {
  background-image: url(https://picsum.photos/300/200);
  padding-top: calc(9 / 16 * 100%);
  background-position: center;
  background-size: cover;
} */